<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Likelion8th</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    Disabled
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Test
                </a>
            </li>
        </ul>
    </div>
</nav>

{#<tbody>#}
{#{% for post in posts.all %}#}
{#    <tr>#}
{#        <td>{{ forloop.counter }}</td>#}
{#        <td><a href="{% url 'detail' post.id %}">{{ post.title }}</a></td>#}
{#        <td>{{ post.pub_date }}</td>#}
{#        <td>{{ post.summary }}</td>#}
{#    </tr>#}
{#{% endfor %}#}
{#</tbody>#}
{##}
{#        {% for post in posts.all %}#}
{#            <div class="container">#}
{#                <h1>{{ post.title }}</h1>#}
{#                <p>{{ post.pub_date }}</p>#}
{#                <p>{{ post.body }}</p>#}
{#            </div>#}
{#        {% endfor %}#}

{% for blog in posts_num %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
            <p class="card-text">{{ blog.summary }}</p>
            <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
        </div>
    </div>
{% endfor %}

{% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ posts_num.previous_page_number }}">Previous</a>
{% endif %}

<span>{{ posts_num.number }}</span>
<span>of</span>
<span>{{ posts_num.paginator.num_pages }}</span>

{% if posts_num.has_next %}
    <a href="?page={{ posts_num.next_page_number }}">Next</a>
    <a href="?page={{ posts_num.paginator.num_pages }}">Last</a>
{% endif %}

<a href="{% url 'new' %}">Add Post</a>
</body>
</html>